@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: white;
}

.navigation {
  top: 40px;
  position: fixed;
  width: 60px;
  /* border: 2px solid red; */
  height: 100%;
  background: #ffff;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
  margin-top: 0.5rem;
}

.navigation:hover,
.navigation.active {
  width: 200px;
  z-index: 10;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  transition: 1s;
}

.navigation ul li:hover {
  background: #c3c3c3;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #000000;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  font-size: 24px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: #fefefe;
  cursor: pointer;
  transition: 0.7s;
  outline: none;
  border: none;
}


.inner-nav {
  width: calc(100% - 60px);
}


.inner-nav-2 {
  /* width: calc(100% - 60px);
  background-color: rgb(231, 231, 231); */
  height: 100vh;
}

@media (max-width: 767px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
  .inner-nav {
    width: 100%;
  }
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown button {
  /* background-color: #ff7700; */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown button:hover {
  background-color: #03c1d6;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: white;
  /* min-width: fit-content; */
  /* border: 2px solid red; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.toggle {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  background: #fefefe;
  cursor: pointer;
  transition: 0.7s;
}

.menu {
  max-height: 0;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.menu.open {
  max-height: 100%;
  transform: translateX(0); /* Adjust this value based on the menu content */
}

/* sani code */
/* All Box Code */

.allBox {
  background-color: white;
  height: fit-content;
  /* width: 600px; */
}
/* .firstDiv {
  display: flex;
  justify-content: space-between;
  height: 15%;
} */
.secondDiv {
  display: flex;
  justify-content: space-around;
  height: 15%;
}
.secondDivOne {
  background-color: rgb(244, 248, 248);
  width: 40%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondDivTwo {
  width: 20%;
  background-color: rgb(231, 234, 234);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherLineThirdDiv {
  display: flex;
  justify-content: space-between;
}
.otherLineFourthDiv {
  display: flex;
  font-size: 12px;
}

.otherLineFifthDiv {
  display: flex;
  justify-content: space-between;
}
.firstLineColorText {
  color: red;
}

.active-bg {
  background-color: #3b82f6; /* Tailwind's bg-blue-600 */
  color: white; /* To ensure the icon is visible on the blue background */
}
.hidden {
  display: none;
}

.menu-items li {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Underline effect */
.menu-items li.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000; /* Adjust color as needed */
}

.drawer {
  width: 30rem;
}

.calender {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid blue;
}
